<nav class="navbar navbar-inverse">
  {{#if loggedIn}}
  <button type="button" class="btn btn-default navbar-btn navbar-right" id="personalize"><a href="/personalize">Personalize</a></button>
  <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout">Logout</button>
  <h2 class="navbar-left">Welcome back!</h2> {{else}}
  <form class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="Username">
      <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default" id="login">Login</button>
  </form>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-default navbar-btn navbar-right" id="sign-up">Sign Up</button>
  <!-- Modal -->
  <section id="modal" class="modal fade">
    <div class="modal-body">
      <form action="/" method="POST" role="form">
        <div class="form-group">
          <h2>Registration Form</h2>
          <label>Username</label>
          <input type="text" class="form-control" name="modalUsername" placeholder="Enter Username">
          <label>Password</label>
          <input type="text" class="form-control" name="modalPassword" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-default" id="modal-submit">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </form>
    </div>
  </section>
  {{/if}}
</nav>
<div class="jumbotron" id="jumbo-index">
  <h1>NEXT FLICK!</h1>
  <p>What are you feeling?</p>
  <p>
    <button type="button" class="btn btn-default navbar-btn" id="horror">Horror</button>
    <button type="button" class="btn btn-default navbar-btn" id="drama">Drama</button>
    <button type="button" class="btn btn-default navbar-btn" id="action">Action</button>
    <button type="button" class="btn btn-default navbar-btn" id="comedy">Comedy</button>
  </p>
</div>
{{#if loggedIn}}
<div class="page-buttons">
  <button type="button" class="btn btn-default" id="back-btn">Prev</button>
  <button type="button" class="btn btn-default" id="next-btn">Next</button>
</div>
{{/if}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js">
//
</script>