<div class="container">
  <nav class="navbar navbar-inverse">
    <h1>Personalize Your Settings</h1>
  <button type="button" class="btn btn-default navbar-btn"><a href="/">Home</a></button>
</nav>
  <div class="jumbotron" id="settings-jumbo">
  <form>
   <div class="form-group">
    <div class="radio">
      <p class="form-par">Movie category:Action</p>
      <p class="form-par">What do you most value in an action flick?</p>
      <label class="form-labels">
          <input type="radio" name="optionsAction" id="optionsRadios1" value="act-fighting">
          Fighting   ----(Expendables, Rambo, Chuck Norris, Jean Claude Van Dam)
     </label>
    </div>
<div class="radio">
  <label class="form-labels">
    <input type="radio" name="optionsAction" id="optionsRadios2" value="act-story">
    Story/Plot   ----(Jason Bourne movies, Inception, Minority Report)
  </label>
</div>
<div class="radio">
  <label class="form-labels">
    <input type="radio" name="optionsAction" id="optionsRadios3" value="act-acting">
    Acting     ----i.e(Inglorious Bastards, Gangs of New York)
  </label>
</div>
<br>
<div class="radio">
  <p class="form-par">Movie category:Comedy</p>
  <p class="form-par">What do you most value in a comedy flick?</p>
  <label class="form-labels">
    <input type="radio" name="optionsComedy" id="optionsRadios4" value="com-slapstick">
    Slapstick   ----(Dumb and Dumber, The Mask, Jim Carey,)
  </label>
</div>
<div class="radio">
  <label class="form-labels">
    <input type="radio" name="optionsComedy" id="optionsRadios5" value="com-dry">
    Dry   ----(Office space, The Big Lebowski, Men Who stare at Goats)
  </label>
</div>
<div class="radio disabled">
  <label class="form-labels">
    <input type="radio" name="optionsComedy" id="optionsRadios6" value="com-romantic">
    Romantic     ----(Bridget Jones Diary, When Harry Met Sally)
  </label>
</div>
<br>
<div class="radio">
  <p class="form-par">Movie category:Horror</p>
  <p class="form-par">What do you most value in a horror flick?</p>
  <label class="form-labels">
    <input type="radio" name="optionsHorror" id="optionsRadios7" value="hor-thriller">
    Thriller   ----(Silence of the lambs,6th sense,Shutter Island)
  </label>
</div>
<div class="radio">
  <label class="form-labels">
    <input type="radio" name="optionsHorror" id="optionsRadios8" value="hor-slice-dice">
    Slice and Dice   ----(Jason Movies, Chucky, Texas Chainsaw Massacre)
  </label>
</div>
<div class="radio disabled">
  <label class="form-labels">
    <input type="radio" name="optionsHorror" id="optionsRadios9" value="hor-mystery">
    Mystery     ----(Amityville horrr, Zodiac, The Shining)
  </label>
</div>
<br>
<div class="radio">
  <p class="form-par">Movie category:Drama</p>
  <p class="form-par">What do you most value in a drama flick?</p>
  <label class="form-labels">
    <input type="radio" name="optionsDrama" id="optionsRadios10" value="dra-acting">
    Acting   ----(Goodwill Hunting, Gran Torino, Birdman)
  </label>
</div>
<div class="radio">
  <label class="form-labels">
    <input type="radio" name="optionsDrama" id="optionsRadios11" value="dra-plot">
    Plot   ----(The shawshank redemption, The Prestiege, There will be blood)
  </label>
</div>
<div class="radio disabled">
  <label class="form-labels">
    <input type="radio" name="optionsDrama" id="optionsRadios12" value="dra-romantic">
    Romantic     ----(The Notebook, Titanic)
  </label>
</div>
 <button type="submit" id="submit" class="btn btn-default save-btn">Save</button>
</div>
</form>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
  // $("#submit").on('click',function(e){
  //   e.preventDefault();
  //   var actionChecked = $('input[name=optionsAction]:checked').val();
  //   var comedyChecked = $('input[name=optionsComedy]:checked').val();
  //   var horrorChecked = $('input[name=optionsHorror]:checked').val();
  //   var dramaChecked = $('input[name=optionsDrama]:checked').val();
  //   var checkedInput = {
  //     action: actionChecked,
  //     comedy: comedyChecked,
  //     horror: horrorChecked,
  //     drama: dramaChecked
  //   }
  //   console.log(checkedInput);
  //   // make cookies for user
  //   var actionCookie = $.cookie("settingsAct",checkedInput.action);
  //   var comedyCookie = $.cookie("settingsCom",checkedInput.comedy);
  //   var horrorCookie = $.cookie("settingsHor",checkedInput.horror);
  //   var dramaCookie = $.cookie("settingsDra",checkedInput.drama);
  //   $.post("/api/settings",checkedInput).done(function(){
  //     // window.location = "/";
  //   })
  // })
  var bootstrap_alert = function() {};
    bootstrap_alert.warning = function(message) {
            $('#alert_placeholder').html('<div class="alert"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
        }
  $("#submit").on('click',function(e){
    e.preventDefault();
    
   if ( $("input[type=radio]:checked").length < 4 ) {
    bootstrap_alert.warning('Please answer all questions!');
  }
  else { 
    $("#alert_placeholder").hide();
  
    var actionChecked = $('input[name=optionsAction]:checked').val();
    var comedyChecked = $('input[name=optionsComedy]:checked').val();
    var horrorChecked = $('input[name=optionsHorror]:checked').val();
    var dramaChecked = $('input[name=optionsDrama]:checked').val();
    var checkedInput = {
      action: actionChecked,
      comedy: comedyChecked,
      horror: horrorChecked,
      drama: dramaChecked
    }
     // make cookies for user
    var actionCookie = $.cookie("settingsAct",checkedInput.action);
    var comedyCookie = $.cookie("settingsCom",checkedInput.comedy);
    var horrorCookie = $.cookie("settingsHor",checkedInput.horror);
    var dramaCookie = $.cookie("settingsDra",checkedInput.drama);
    $.post("/api/settings",checkedInput).done(function(){
      // window.location = "/";
    console.log(checkedInput);
  })
  }
});
</script>