img{
	max-height: 100%;
	max-width: 100%;
}
h1{
	color:white;
	text-align: center;
}
.movieBoxes {
	width: 30%;
	float: left;
}
.navbar-btn {
	background: #82ffa9;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
.form-wrapper{
	margin-left: 20px;
}