body {
  font-family: 'Limelight', cursive;
  background: black;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 240, 245, 1) 12%, rgba(255, 250, 255, 1) 25%, rgba(0, 0, 0, 1) 39%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 1) 91%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

img {
  max-height: 100%;
  max-width: 100%;
}

h1 {
  color: white;
  text-align: center;
}
p{
	text-align: center;
}

a{
	color: black;
}
.btn{
	padding: 9px 12px;
	background: #bfa53f;
	
}
.form-control{
	padding: 19px 10px;
}
.movieBoxes {
  border: 19px solid black;
  border-image: url(/assets/images/movie.jpg) 41 42 stretch;
  width: 32%;
  margin: 5px;
  float: left;
}

.navbar-btn {
	background: #bfa53f;
  color: black;
  font-weight: bold;
  padding:10px 20px;
  letter-spacing: 1px;
}

.jumbotron {
  background: white;
  padding-left: 2%;
}

.navbar {
  margin-bottom: 0;
  padding: 2%;
}

.form-wrapper {
  margin-left: 20px;
}